[submodule "rent-online-hub-esp32-cxx"]
	path = rent-online-hub-esp32-cxx
	url = https://github.com/rbktech/rent-online-hub-esp32-cxx.git
[submodule "rent-online-desktop-cxx-wx-moderator"]
	path = rent-online-desktop-cxx-wx-moderator
	url = https://github.com/rbktech/rent-online-desktop-cxx-wx-moderator.git
[submodule "rent-online-web"]
	path = rent-online-web
	url = https://github.com/rbktech/rent-online-web.git
[submodule "rent-online-server-cxx-unix"]
	path = rent-online-server-cxx-unix
	url = https://github.com/rbktech/rent-online-server-cxx-unix.git
[submodule "rent-online-server-cxx-win"]
	path = rent-online-server-cxx-win
	url = https://github.com/rbktech/rent-online-server-cxx-win.git
[submodule "rent-online-mobile-android-kotlin-master"]
	path = rent-online-mobile-android-kotlin-master
	url = https://github.com/rbktech/rent-online-mobile-android-kotlin-master.git
[submodule "rent-online-mobile-android-kotlin-kts"]
	path = rent-online-mobile-android-kotlin-kts
	url = https://github.com/rbktech/rent-online-mobile-android-kotlin-kts.git
[submodule "rent-online-mobile-android-kotlin-clean"]
	path = rent-online-mobile-android-kotlin-clean
	url = https://github.com/rbktech/rent-online-mobile-android-kotlin-clean.git
[submodule "rent-online-mobile-android-kotlin-client"]
	path = rent-online-mobile-android-kotlin-client
	url = https://github.com/rbktech/rent-online-mobile-android-kotlin-client.git
[submodule "rent-online-mobile-android-java-client"]
	path = rent-online-mobile-android-java-client
	url = https://github.com/rbktech/rent-online-mobile-android-java-client.git
[submodule "rent-online-lib-cxx-exchange"]
	path = rent-online-lib-cxx-exchange
	url = https://github.com/rbktech/rent-online-lib-cxx-exchange.git
