[submodule "rent-online-hub-esp32-cxx"]
	path = rent-online-hub-esp32-cxx
	url = https://github.com/rbktech/rent-online-hub-esp32-cxx.git
[submodule "rent-online-desktop-cxx-wx-moderator"]
	path = rent-online-desktop-cxx-wx-moderator
	url = https://github.com/rbktech/rent-online-desktop-cxx-wx-moderator.git
[submodule "rent-online-web"]
	path = rent-online-web
	url = https://github.com/rbktech/rent-online-web.git
[submodule "rent-online-server-cxx-unix"]
	path = rent-online-server-cxx-unix
	url = https://github.com/rbktech/rent-online-server-cxx-unix.git
