/*body {
  overflow-y: scroll;
}

.scroll {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
  height: 20px;
  z-index: 9999;
}*/

.panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 700px;
}

.panel__button {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  margin-left: 10px;
}

.main_title {
  font-weight: bold;
  font-family: cursive;
  position: fixed;
  text-decoration: none;
  color: black;
  font-family: serif;
  font-size: 35px;
  display: block;
  text-align: center;
}

/* -------------------------------------- */

#table-container {
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-top: -1000px;
}

#table-container table {
  margin: 0 auto;
}

table img {
  width: 700px;
  height: 400px;
}

.div_house {
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.btn_house {
  background-color: transparent;
  border: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.lbl_house {
  margin: 10px;
  margin-left: 50px;
  margin-right: 50px;
}

/* --------------------------------------------------------------------------------------------------- */

.container {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  margin: auto;
  width: 900px;
  z-index: 10;
}

.child {
  position: relative;
  margin: auto;
  margin-top: 150px;
  z-index: 5;
}

.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.input-field {
  width: 75%;
}

.input-field input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.button-container button {
  height: 40px;
  width: 80px;
  font-size: 16px;
  background-color: f0f0f0;
  color: black;
}

.bottom-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 0;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: height 0.3s ease-in-out;
  width: 880px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.hidden {
  visibility: hidden;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.spinner-container label {
  margin-right: 10px;
}

.short {
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: 30px;
}